.venv 

data/club_games.csv
data/clubs.csv
data/appearances.csv
data/competitions.csv
data/game_events.csv
data/game_lineups.csv
data/games.csv
data/player_valuations.csv
data/players.csv
data/transfers.csv
